/* line 2, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
body {
  background-color: #2A2A2A; }

/* line 5, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header {
  overflow: hidden;
  background-color: #000000; }

/* line 9, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .logo {
  float: left;
  margin: 0px 100px 0px 10px; }

/* line 13, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .selected {
  float: left;
  background-color: #2A2A2A;
  padding: 0px 10px 1px 10px; }

/* line 18, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .unselected {
  float: left;
  padding: 0px 10px 1px 10px; }

/* line 22, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .unselected:hover {
  background-color: #3A3A3A; }

/* line 25, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header h1 {
  width: 120px;
  color: #ffffff;
  font-size: 20px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 31, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header a {
  color: #ffffff;
  text-decoration: none;
  border: 0; }

/* line 36, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents {
  width: 1000px; }

/* line 39, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents h1 {
  color: #ffffff; }

/* line 42, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents p {
  color: #ffffff;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }
