/* line 2, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
body {
  background-color: #2A2A2A; }

/* line 5, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header {
  overflow: hidden;
  background-color: #000000; }

/* line 9, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .logo {
  float: left;
  margin: 0px 20px 0px 10px; }

/* line 13, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .selected {
  float: left;
  background-color: #2A2A2A;
  padding: 0px 10px 1px 10px; }

/* line 18, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .unselected {
  float: left;
  padding: 0px 10px 1px 10px; }

/* line 22, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .unselected:hover {
  background-color: #3A3A3A; }

/* line 25, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .language {
  float: left;
  padding: 0px 10px 1px 10px; }

/* line 29, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .language a {
  color: #bbbbbb;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 33, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header .language a:hover {
  color: #ffffff; }

/* line 36, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header h1 {
  width: 130px;
  height: 36px;
  color: #ffffff;
  font-size: 16px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 43, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#header a {
  color: #ffffff;
  text-decoration: none;
  border: 0; }

/* line 48, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents {
  width: 100%; }

/* line 51, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .eyecatch {
  position: relative; }

/* line 54, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .eyecatch img {
  width: 100%;
  margin: 50px 0px 50px 0px;
  display: inline-block;
  box-shadow: 0px 0px 20px 10px black; }

/* line 60, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .eyecatch p {
  position: absolute;
  top: 20px;
  left: 50px;
  font-size: 36px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  text-shadow: -1px -1px #000, 1px -1px #000, -1px 1px #000, 1px 1px #000; }

/* line 68, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .eyecatch a {
  position: absolute;
  top: 200px;
  left: 50px;
  font-size: 36px;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
  background-color: #2A2A2A;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px 10px 20px; }

/* line 80, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .eyecatch a:link {
  color: #cccccc; }

/* line 83, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .eyecatch a:visited {
  color: #cccccc; }

/* line 86, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .eyecatch a:hover {
  color: #ffffff; }

/* line 89, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents h1 {
  color: #ffffff; }

/* line 92, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents h2 {
  color: #ffffff; }

/* line 95, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents h3 {
  color: #ffffff; }

/* line 98, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .main {
  width: 1000px;
  margin: 0 auto; }

/* line 102, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents {
  color: #ffffff;
  font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }

/* line 106, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents a:link {
  color: #cccccc; }

/* line 109, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents a:visited {
  color: #cccccc; }

/* line 112, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents a:hover {
  color: #ffffff; }

/* line 115, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .movie {
  float: left;
  margin: 10px; }

/* line 119, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .adopted {
  width: 600px;
  background-color: #1A1A1A;
  margin: 20px auto; }

/* line 124, D:/dev/_Effekseer/Website/source/stylesheets/base.sass */
#contents .adopted_label {
  width: 100px; }
