@charset "UTF-8";
/*@import*/
/*設定まとめ　*/
/*@mixin*/
/*バックカラー　文字色 幅 各種設定*/
/*文字の大きさ*/
/*間隔設定*/
/*アドレスの文字カラー*/
a:link {
  color: #849494; }

a:visited {
  color: #68bdc5; }

a:active {
  color: #848a8a; }

#contents .adoption_allset a:link {
  color: #ffffff; }

#contents .adoption_allset1 a:link {
  color: #ffffff; }

/* header contens main 共通css設定 */
/*紹介　ダウンロード　採用　CSS　*/
/*ドキュメント　サポート　サンプルエフェクト　CSS　*/
body {
  background-color: #e2e5e5;
  width: 100%;
  margin: 0px auto;
  overflow-x: hidden; }

.main {
  text-align: center; }

/*language 言語選択設定*/
/*ヘッター言語選択 */
#header {
  width: 100%;
  overflow: hidden;
  display: block; }

#header .languagenav {
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  display: flex; }
  #header .languagenav p {
    font-size: 0.5em;
    margin: 5px; }

#header .languagenav li {
  list-style: none;
  margin-top: 5px;
  margin-left: 5px; }

#header .languagenav li a {
  display: block;
  width: 100px;
  height: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 2.8;
  background: #68bdc5;
  text-decoration: none;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  z-index: 9999; }

#header .languagenav li ul {
  width: 100px;
  display: none;
  margin-left: -40px;
  position: absolute;
  z-index: 9999; }

#header ul li, ol li {
  padding: 0px; }

#header .languagenav > li li:hover > a {
  /*layer-2*/
  color: #3c3f3f;
  background: #68bdc5; }

/*メニューバー部分のロゴ設定*/
#header .logo_menu img {
  widows: 50px;
  height: 50px; }

/*ヘッター部分のロゴ設定*/
#header .logo img {
  widows: 50px;
  height: 50px; }

/* main設定　 */
#contents {
  width: 100%; }

#contents ul, ol {
  color: #848a8a;
  padding: 0.5em 0.5em 0.5em 2em; }

ul li, ol li {
  line-height: 1.5;
  padding: 0.5em 0; }

/* Title設定　 */
#contents .eyecatch {
  width: 100%;
  height: 395px;
  margin: 0px 0px 0px 0px;
  background-color: #191a1a;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative; }

/* Top画面のボタンの設定　 */
/*トップ画像*/
#contents .eyecatch .imgsize_setting1 img {
  width: 1900px;
  height: 300px;
  height: auto;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#contents .eyecatch a:hover {
  color: #b1ffff; }

#contents .eyecatch a:active {
  box-shadow: inset 0 0 2px #3c3f3f;
  transform: translateY(2px); }

#contents h1 {
  color: #3c3f3f; }

#contents h2 {
  color: #3c3f3f; }

#contents h3 {
  color: #3c3f3f; }

/* download_sectionsの設定　 */
#contents .download_section1 img {
  width: 80%;
  max-width: 400px;
  min-width: 250px;
  height: auto; }

/*サポートページのimg設定　*/
#contents .support_grid p img {
  width: 100%;
  max-width: 50px;
  height: auto;
  text-align: center;
  margin-top: 0px;
  -webkit-justify-content: center;
  justify-content: center; }

/*サポートページのimg設定　slack Discord*/
#contents .support_grid .support_icon img {
  width: 100%;
  max-width: 150px;
  height: auto;
  text-align: center;
  margin-top: 0px;
  -webkit-justify-content: center;
  justify-content: center; }

/*github リボン*/
#header .github_ribbon {
  display: block;
  /*リボンの画面サイズ可変設定*/ }
  #header .github_ribbon .forkongithub a {
    background: #3c3f3f;
    color: #b1ffff;
    text-decoration: none;
    font-family: arial,sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s; }
  #header .github_ribbon .forkongithub a:hover {
    background: #bbdada;
    color: #848a8a; }
  #header .github_ribbon .forkongithub a::before, #header .github_ribbon a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #f9f9f8; }
  #header .github_ribbon .forkongithub a::after {
    bottom: 1px;
    top: auto; }
  @media screen and (min-width: 1000px) {
    #header .github_ribbon .forkongithub {
      position: fixed;
      display: block;
      top: 0;
      right: 0;
      width: 200px;
      overflow: hidden;
      height: 200px;
      z-index: 9999; }
    #header .github_ribbon .forkongithub a {
      width: 200px;
      position: absolute;
      padding: 5px 40px;
      top: 60px;
      right: -60px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8); } }
  #header .github_ribbon .forkongithubspan {
    top: 100px; }

/*サンプルエフェクトボタン変化*/
#contents .sample_effect p:hover {
  box-shadow: 0 0 20px 5px rgba(5, 42, 59, 0.829) inset; }

#contents .sample_effect img:hover {
  opacity: 0.5; }

#contents .sample_effect2 p:hover {
  box-shadow: 0 0 20px 5px rgba(5, 42, 59, 0.829) inset; }

#contents .sample_effect2 img:hover {
  opacity: 0.5; }

/*サンプルエフェクトボタン詳細*/
#contents .contribute_effect_title {
  max-width: 1200px;
  min-width: 250px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px; }
  #contents .contribute_effect_title h3 {
    color: #848a8a;
    padding-left: 10px;
    padding-right: 10px; }

@media screen and (max-width: 999px) {
  /*TOP*/
  /*ヘッター */
  #header {
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: block;
    background-color: #e9eeee;
    font-size: 0.5em;
    z-index: 1; }
    #header .selected {
      display: inline-block;
      vertical-align: top;
      background-color: #bbdada;
      padding: 0px 10px 1px 10px;
      border-radius: 1%;
      z-index: 2; }
    #header .unselected {
      vertical-align: top;
      padding: 0px 10px 1px 10px;
      z-index: 2; }
    #header .unselected:hover {
      background-color: #f9f9f8;
      border-radius: 1%; }
    #header body #header h1 {
      height: 25px;
      color: #3c3f3f;
      font-size: 0.5em;
      font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }
    #header #header a {
      color: #3c3f3f;
      text-decoration: none;
      border: 0; }
  /*はじめのトップ画面*/
  #contents .top_index {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto; }
  /*ヘッター部分のロゴ設定*/
  #header .logo {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
    margin: 10px 20px 0px 20px;
    z-index: 2; }
  /*レスポンシブメニューの言語選択削除*/
  #header .navmenu_set ul {
    display: none; }
  /*ヘッター 可変時の言語選択ボタン設定*/
  #header .languagenav li a {
    width: 70px;
    height: 40px; }
  #header .languagenav li ul {
    width: 70px;
    display: none; }
  /*ヘッターメニューバー部分のロゴ設定*/
  #header .logo_menu {
    display: none; }
  /*共通メニュー用ヘッター言語選択 */
  #header .navmenu_set {
    width: 20%;
    z-index: 9999;
    text-align: center; }
  /*PCメニュー用ヘッター言語選択 */
  #header .subpcmenu_set {
    position: absolute;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 0 30px;
    top: 5px;
    right: 0; }
  /*ヘッター のレスポンシブメニューのための設定*/
  #header .nav-toggle {
    background-color: #e9eeee00;
    position: absolute;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    padding: 0 20px;
    top: 20px;
    left: 0;
    z-index: 2; }
  #header .nav-toggle .menu-trigger {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer; }
  #header .nav-toggle .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #68bdc5;
    transition: all .5s .2s; }
  #header .nav-toggle .menu-trigger.active span {
    background-color: #3c3f3f; }
  #header .nav-toggle .menu-trigger span:nth-of-type(1) {
    top: 0; }
  #header .nav-toggle .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(13px) rotate(-45deg); }
  #header .nav-toggle .menu-trigger span:nth-of-type(2) {
    top: 12px; }
  #header .nav-toggle .menu-trigger.active span:nth-of-type(2) {
    opacity: 0; }
  #header .nav-toggle .menu-trigger span:nth-of-type(3) {
    bottom: 0; }
  #header .nav-toggle .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg); }
  #header .menunav_allset {
    width: 100%;
    background-color: #e9eeee;
    color: #3c3f3f;
    text-align: center;
    display: none;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1; }
  #header .menunav_allset ul {
    list-style: none;
    padding: 0px 0; }
  #header .menunav_allset ul li {
    list-style: none;
    padding: 0px 0; }
  /* main設定　 */
  #contents .inner {
    margin: 0 auto;
    overflow: hidden; }
  /* Title設定　 */
  #contents .eyecatch p {
    width: 80%;
    min-width: 240px;
    position: absolute;
    top: 100px;
    left: 8%;
    margin: 50px 0px 50px 0px;
    font-size: 2em;
    font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
    text-shadow: -1px -1px #3c3f3f, 2px -1px #3c3f3f, -1px 2px #3c3f3f, 1px 2px #3c3f3f; }
  /* Top画面のボタンの設定　 */
  #contents .eyecatch a {
    position: absolute;
    top: 260px;
    left: 80px;
    font-size: 1.2em;
    font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
    text-decoration: none;
    border: 0;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    vertical-align: top;
    padding: 1em 1.0em;
    background: rgba(244, 244, 245, 0.233);
    border: solid 2px #3c3f3f;
    color: #2A2A2A;
    font-weight: bold; }
  #contents .eyecatch a:hover {
    background: #e2e5e5;
    color: #3c3f3f; }
  /* sec2の画像３枚の設定　 */
  #contents .section1_setting {
    width: 100%;
    max-height: auto;
    display: flex;
    text-align: center;
    background-color: #e2e5e5;
    max-width: 600px;
    min-width: 280px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center; }
  #contents .introduction_img1_1 h3 {
    margin: 10px; }
  .start_image {
    margin-top: 100px; }
    .start_image img {
      width: 100%;
      max-width: 600px;
      min-width: 250px;
      height: auto; }
  #contents .top_section {
    width: 60%;
    max-width: 500px;
    min-width: 300px;
    height: auto;
    background-color: #3d3d3d;
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px; }
    #contents .top_section img {
      width: 60%;
      max-width: 500px;
      min-width: 200px;
      height: auto; }
  #contents .top_section p {
    width: 80%;
    height: auto;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
    color: #9da3a3; }
  /* MVの設定　 */
  #contents .section2_setting {
    width: 100%;
    max-height: 700px;
    display: block;
    text-align: center;
    max-width: 600px;
    min-width: 240px;
    height: auto;
    vertical-align: top;
    background-color: #d1dddd;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px; }
  #contents .section2_setting p {
    font-size: 1em;
    text-align: center; }
  #contents .movie_section {
    max-width: 320px;
    min-width: 200px;
    height: auto;
    margin-right: auto;
    margin-left: auto; }
  /* download_sectionsの設定　 */
  #contents .section3_setting {
    width: 100%;
    max-height: 700px;
    display: block;
    text-align: center;
    max-width: 600px;
    min-width: 250px;
    background-color: #e2e5e5;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px; }
    #contents .section3_setting .download_section1 {
      text-align: center; }
  #contents .download_inline {
    margin-bottom: 20px; }
  #contents .download_section2 img {
    width: 100%;
    max-width: 360px;
    min-width: 250px;
    height: auto; }
  #contents .download_section_links {
    width: 100%;
    min-width: 250px;
    text-align: center;
    padding-left: auto;
    padding-right: auto; }
    #contents .download_section_links ul {
      list-style: none; }
  /* other_sectionsの設定　 */
  #contents .section4_setting {
    width: 100%;
    max-height: 600px;
    display: block;
    text-align: center;
    max-width: 600px;
    min-width: 250px;
    background-color: #d1dddd;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto; }
  #contents .documentation_section {
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto; }
  #contents .contribute_section {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: auto;
    margin-left: auto; }
    #contents .contribute_section p {
      margin: 10px; }
  /* book_sectionsの設定　 */
  #contents .section5_setting {
    width: 100%;
    max-height: 700px;
    display: block;
    text-align: center;
    max-width: 600px;
    min-width: 250px;
    background-color: #e9eeee;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px; }
  #contents .section5_setting img {
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    height: auto; }
  #contents .section5_setting .left_books {
    width: 100%;
    height: auto; }
  #contents .section5_setting .right_books {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 50px;
    margin-right: auto;
    margin-left: auto; }
    #contents .section5_setting .right_books ul {
      padding: 0px;
      list-style: none; }
  /* news_sectionsの設定　 */
  #contents .news_section {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    background-color: #d1dddd;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 50px; }
    #contents .news_section ul, #contents .news_section li {
      width: 80%;
      min-width: 250px;
      color: #3c3f3f;
      list-style: none;
      text-align: left;
      margin-right: auto;
      margin-left: auto; }
  /*リリースノート*/
  #contents .releasenote_setting {
    width: 100%;
    max-height: auto;
    display: block;
    text-align: center;
    background-color: #e2e5e5;
    max-width: 600px;
    min-width: 250px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    -webkit-justify-content: center;
    justify-content: center;
    align-items: center; }
  #contents .img_sectionset {
    max-width: 600px;
    min-width: 200px;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; }
  #contents .releasenote_iframe {
    max-width: 600px;
    min-width: 200px;
    text-align: center;
    margin-right: auto;
    margin-left: auto; }
  #contents .releasenote_section {
    text-align: center;
    margin: 20px; }
  #contents .allsecimg {
    margin-left: auto;
    margin-right: auto; }
    #contents .allsecimg img {
      width: 100%;
      height: auto;
      max-width: 600px;
      min-width: 200px; }
  #contents .introduction_img1_1 h3 {
    margin: 10px; }
  .start_image {
    margin-top: 100px; }
    .start_image img {
      width: 80%;
      max-width: 600px;
      min-width: 250px;
      height: auto; }
  /*紹介*/
  #contents .introduction_section1 {
    width: 100%;
    margin: 50px; }
  #contents .introduction_img1_1 img {
    width: 100%;
    min-width: 280px;
    height: auto; }
  #contents .introduction_img1_2 {
    margin-top: 50px; }
    #contents .introduction_img1_2 img {
      width: 100%;
      min-width: 280px;
      height: auto; }
    #contents .introduction_img1_2 h3 {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
      font-size: 1em; }
  #contents .introduction_sec2img {
    min-width: 250px;
    margin-right: auto;
    margin-left: auto; }
    #contents .introduction_sec2img img {
      width: 30%;
      min-width: 150px;
      height: auto;
      max-width: 150px;
      border-radius: 50%; }
  #contents .introduction_section2 {
    width: auto;
    margin-top: 30px; }
    #contents .introduction_section2 img {
      width: 100%;
      min-width: 280px;
      height: auto; }
  #contents .introduction_section3 {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px; }
    #contents .introduction_section3 p {
      margin: 10px; }
    #contents .introduction_section3 .introduction_img3_1 img {
      width: 100%;
      min-width: 280px;
      height: auto; }
    #contents .introduction_section3 .introduction_img3_2 img {
      width: 30%;
      min-width: 150px;
      height: auto;
      max-width: 150px;
      border-radius: 50%; }
  /*ダウンロード*/
  #contents .download_contents_topset {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto; }
  #contents .download_contents_set {
    width: 100%;
    max-height: 2500px;
    display: flex;
    text-align: center;
    max-width: 650px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e2e5e5;
    flex-wrap: wrap; }
  #contents .download_contents {
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    height: auto;
    text-align: center;
    display: block;
    background-color: #515252;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px; }
    #contents .download_contents img {
      width: 80%;
      height: auto; }
    #contents .download_contents h3 {
      color: #849494; }
    #contents .download_contents p {
      margin: 20px;
      color: #d1dddd; }
  #contents .introduction_section4 {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px; }
    #contents .introduction_section4 .introduction_sec4_title1 {
      padding-top: 15px; }
      #contents .introduction_section4 .introduction_sec4_title1 p {
        margin: 10px; }
    #contents .introduction_section4 .introduction_sec4_title1 p {
      margin: 10px; }
  /*ダウンロードの過去のバージョン*/
  #contents .download_prev h2 {
    text-align: left;
    display: block; }
  #contents .download_prev {
    width: 100%;
    max-height: auto;
    display: block;
    text-align: center;
    max-width: 650px;
    min-width: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    background-color: #d1dddd;
    padding-bottom: 20px; }
    #contents .download_prev h2 {
      padding: 20px; }
  #contents .old_Links_set ul, #contents .old_Links_set li {
    list-style: none; }
  /*採用実績*/
  /*採用実績設定*/
  #contents .adoption_allset {
    width: 100%;
    max-width: 650px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto; }
  #contents .adoption_allset1 {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto; }
  #contents .adoption_allset h2 {
    color: #3c3f3f; }
  #contents .adoption_allset h3 {
    color: #68bdc5; }
  #contents .adoption_allset p {
    color: #bbdada; }
  #contents .adoption_title {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto; }
  #contents .adopted {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    height: auto;
    text-align: center;
    color: #68bdc5;
    background-color: #3d3d3d;
    margin: 20px auto;
    padding-bottom: 20px; }
  #contents .adopted1 {
    width: 100%;
    max-width: 500px;
    min-width: 200px;
    height: auto;
    text-align: center;
    color: #68bdc5;
    background-color: #3d3d3d;
    margin: 20px auto;
    padding-bottom: 20px; }
    #contents .adopted1 h3 {
      padding: 20px;
      color: #68bdc5; }
  #contents .iframe {
    position: relative;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 100%;
    height: 0;
    padding-top: 56.25%; }
  .iframe_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  #contents .images_adopted img {
    width: 100%;
    height: auto; }
  #contents .setting {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    margin-top: 10px; }
  #contents .setting1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    margin-top: 10px; }
  #contents .setting p {
    margin: 15px; }
  #contents .list1_site {
    display: flex;
    margin-top: 10px; }
    #contents .list1_site p {
      margin: 20px; }
  #contents .list1_steam {
    display: flex;
    margin-top: 10px; }
    #contents .list1_steam p {
      margin: 20px; }
  #contents .list1_mv {
    display: flex;
    margin-top: 10px; }
    #contents .list1_mv p {
      margin: 15px; }
  #contents .adopted_other_setting {
    display: inline-block;
    vertical-align: top; }
  #contents .adopted_lists_other1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px; }
  /*ドキュメント*/
  #contents .documentation_top_set {
    width: 100%;
    display: block;
    text-align: left;
    max-width: 600px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px; }
    #contents .documentation_top_set h3 {
      margin-top: 20px;
      margin-left: 20px; }
    #contents .documentation_top_set h2 {
      margin-top: 20px;
      margin-left: 20px; }
    #contents .documentation_top_set p {
      margin-top: 20px;
      margin-left: 50px;
      margin-right: 50px; }
  #contents .help_sections_allsetting {
    width: 100%;
    max-height: auto;
    display: flex;
    text-align: center;
    max-width: 650px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap; }
  #contents .help_sections_set {
    width: 100%;
    max-width: 650px;
    min-width: 250px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px; }
  #contents .help_links {
    padding-bottom: 20px; }
  #contents .help_sections {
    max-width: 255px;
    min-width: 100px;
    height: auto;
    min-height: 250px;
    background-color: #515252;
    margin: 20px; }
    #contents .help_sections img:hover {
      opacity: 0.5; }
  #contents .help_sections_set h2 {
    color: #3c3f3f; }
  #contents .help_sections_set h3 {
    color: #68bdc5; }
  #contents .help_sections_set p {
    color: #bbdada;
    padding-top: 15px;
    margin: 20px; }
  #contents .help_sections_set .help_imgsec img {
    width: 100%;
    max-width: 180px;
    height: auto; }
  #contents .help_sections_set img {
    max-width: 100%;
    max-width: 100px;
    height: auto; }
  #contents .documentation_tutorial_set {
    width: 100%;
    display: block;
    text-align: left;
    background-color: #d1dddd;
    max-width: 650px;
    min-width: 250px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto; }
    #contents .documentation_tutorial_set h3 {
      margin-top: 10px;
      padding-top: 15px;
      margin: 20px; }
    #contents .documentation_tutorial_set p {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 20px;
      margin-bottom: 0px;
      margin-left: 50px;
      margin-right: 20px; }
  #contents .section_setting_tutorial {
    width: 100%;
    max-height: auto;
    display: flex;
    text-align: center;
    max-width: 650px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    background-color: #d1dddd; }
  #contents .tutorial_sections {
    width: 100%;
    max-width: 650px;
    min-width: 250px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px; }
    #contents .tutorial_sections img:hover {
      opacity: 0.5; }
  #contents .locale_sections {
    max-width: 250px;
    min-width: 250px;
    height: auto;
    min-height: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #515252;
    margin-bottom: 20px; }
    #contents .locale_sections img {
      width: 80%;
      max-width: 150px;
      min-width: 150px;
      height: auto;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px; }
    #contents .locale_sections p {
      margin: 20px; }
  /*サポート*/
  #contents .supprot_section {
    width: 80%;
    max-width: 600px;
    min-width: 250px;
    display: inline-block;
    vertical-align: top; }
  #contents .supprot_section p {
    margin: 20px; }
  #contents .supprot_github_section {
    text-align: center; }
    #contents .supprot_github_section p {
      margin: 20px; }
  #contents .support_grid {
    width: 80%;
    max-width: 600px;
    min-width: 250px;
    height: auto;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px; }
    #contents .support_grid p {
      margin: 30px; }
  #contents .support_bg {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    background-color: #d1dddd;
    margin-right: auto;
    margin-left: auto;
    background-size: 100%; }
  #contents .mail_setting {
    width: 100%;
    max-height: 700px;
    display: block;
    text-align: center;
    max-width: 600px;
    min-width: 250px;
    background-color: #e2e5e5;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px; }
  /*サンプルエフェクト*/
  #contents .contribute_title_bg {
    width: 100%;
    background-color: #d1dddd;
    padding-top: 50px;
    padding-bottom: 50px; }
  #contents .contribute_title_set {
    width: 100%;
    max-width: 600px;
    min-width: 250px;
    text-align: center;
    margin: 20px;
    margin-right: auto;
    margin-left: auto; }
  #contents .contribute_title_set .contribute_title {
    max-width: 600px;
    min-width: 250px;
    text-align: center;
    padding-bottom: 10px; }
    #contents .contribute_title_set .contribute_title p {
      margin: 20px; }
  #contents .sample_effect {
    width: 100%;
    max-width: 700px;
    min-width: 140px;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-column-gap: 5px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px; }
    #contents .sample_effect img {
      width: 140px;
      height: auto; }
  #contents .sample_effect2 {
    width: 100%;
    max-width: 700px;
    min-width: 140px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-column-gap: 5px;
    height: auto;
    text-align: center;
    margin-right: auto;
    margin-left: auto; }
    #contents .sample_effect2 img {
      width: 140px;
      height: auto; }
  #contents .sample_effect p {
    width: 150px;
    height: auto;
    background-color: #515252;
    padding-top: 3px; }
  #contents .sample_effect2 p {
    width: 150px;
    height: auto;
    background-color: #68bdc5;
    padding-top: 3px; }
  /*投稿エフェクト中ページ*/
  #contents .contribute_title .contribute_inner {
    text-align: left;
    margin-left: 20px; }
  #contents .contribute_inner_text {
    padding-bottom: 100px; }
    #contents .contribute_inner_text ul {
      list-style: none; }
  /*画像クリック時の次のページ*/
  #contents .sample_effect_next {
    width: 100%;
    max-width: 700px;
    min-width: 160px;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-column-gap: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px; }
    #contents .sample_effect_next img {
      width: 150px;
      height: auto; }
  #contents .sample_effect_next p {
    width: 160px;
    height: auto;
    background-color: #515252;
    margin: 5px;
    padding-top: 3px; } }

@media screen and (min-width: 1000px) {
  /*TOP*/
  #header {
    overflow: hidden;
    text-align: left;
    display: block;
    background-color: #e9eeee;
    font-size: 1em;
    z-index: 1;
    padding-top: 20px; }
  /*ヘッター部分のロゴ設定*/
  #header .logo {
    display: none; }
  /*ヘッターメニューバー部分のロゴ設定*/
  #header .logo_menu {
    display: inline-block;
    vertical-align: top;
    margin: 10px 15px 0px 15px;
    z-index: 2; }
  /*language 言語選択設定*/
  /*共用メニュー用ヘッター言語選択 */
  #header .navmenu_set {
    width: 160px;
    z-index: 9999;
    text-align: center;
    display: inline-block; }
  /*PCメニュー用ヘッター言語選択 */
  #header .subpcmenu_set {
    width: 160px;
    z-index: 9999;
    text-align: center;
    display: inline-block; }
  /*レスポンシブメニューの言語選択削除*/
  #header .subpcmenu_set ul {
    display: none; }
  #header .selected {
    display: inline-block;
    background-color: #bbdada;
    padding: 0px 10px 1px 10px;
    border-radius: 1%; }
  #header .selected ul {
    padding-left: 5px;
    width: 50px; }
  #header .menunav_allset {
    display: block;
    list-style: none; }
    #header .menunav_allset ul {
      list-style: none; }
  #header .unselected {
    display: inline-block;
    padding: 0px 10px 1px 10px; }
  #header .unselected ul {
    padding-left: 15px;
    width: 50px; }
  #header .unselected:hover {
    background-color: #515252; }
  #header .unselected ul:hover {
    padding-left: 15px; }
  #header h1 {
    height: 25px;
    color: #3c3f3f;
    font-size: 1em;
    font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif"; }
  #header a {
    color: #3c3f3f;
    text-decoration: none;
    border: 0; }
  /* main設定　 */
  #contents .inner {
    width: 100%;
    margin: 0 auto;
    overflow: hidden; }
  /*はじめのトップ画面*/
  #contents .top_index {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    text-align: center;
    margin-right: auto;
    margin-left: auto; }
  .start_image {
    margin-top: 100px; }
    .start_image img {
      width: 100%;
      max-width: 600px;
      min-width: 320px;
      height: auto; }
  /* Title設定　 */
  #contents .eyecatch p {
    width: 100%;
    min-width: 400px;
    position: absolute;
    top: 30px;
    left: 50%;
    margin: 50px 0px 50px 0px;
    font-size: 3em;
    font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
    text-shadow: -1px -2px #3c3f3f, 2px -2px #3c3f3f, -2px 2px #3c3f3f, 2px 2px #3c3f3f; }
  /* Top画面のボタンの設定　 */
  #contents .eyecatch a {
    position: absolute;
    top: 240px;
    left: 15%;
    font-size: 2em;
    font-family: "verdana", "serif", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
    text-decoration: none;
    border: 0;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    vertical-align: top;
    padding: 0.3em 0.8em;
    background: rgba(244, 244, 245, 0.233);
    border: solid 2px #3c3f3f;
    color: #2A2A2A;
    font-weight: bold; }
  #contents .eyecatch a:hover {
    background: #e2e5e5;
    color: #3c3f3f; }
  /* sec2の画像３枚の設定　 */
  #contents .section1_setting {
    width: 100%;
    max-height: auto;
    display: flex;
    text-align: center;
    max-width: 1200px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px; }
  #contents .top_section {
    width: 80%;
    max-width: 400px;
    height: 500px;
    background-color: #3d3d3d;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    margin: 30px; }
    #contents .top_section img {
      width: auto;
      max-width: 300px;
      height: auto; }
  #contents .top_section p {
    width: 80%;
    height: auto;
    max-height: 500px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
    color: #9da3a3; }
  /* MVの設定　*/
  #contents .section2_setting {
    width: 100%;
    max-height: auto;
    display: flex;
    text-align: center;
    background-color: #d1dddd;
    display: -webkit-flex;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 250px;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 100px; }
    #contents .section2_setting .section2_setting p {
      font-size: 1.2em;
      text-align: center; }
  #contents .movie_section {
    display: grid;
    width: 100%;
    max-width: 1200px;
    min-width: 900px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr; }
    #contents .movie_section .movie1 {
      max-width: 500px;
      min-width: 300px;
      height: 300px; }
    #contents .movie_section .movie2 {
      max-width: 500px;
      min-width: 300px;
      height: 300px;
      order: 1; }
    #contents .movie_section p {
      width: 300px;
      height: 80px;
      font-size: 1.5em;
      margin-top: 160px;
      margin-right: auto;
      margin-left: auto; }
  #contents .section3_bg {
    display: flex;
    max-width: 1200px;
    background-size: 100%;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px; }
    #contents .section3_bg #contents .section3_setting {
      width: 100%;
      max-height: auto;
      display: flex;
      text-align: center;
      max-width: 1200px;
      display: -webkit-flex;
      flex-direction: row;
      -webkit-justify-content: center;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
      margin-top: 50px;
      margin-bottom: 50px; }
      #contents .section3_bg #contents .section3_setting img {
        margin-top: 50px; }
  #contents .download_inline {
    margin-bottom: 50px; }
  #contents .download_section1 {
    position: absolute;
    height: 70px;
    left: 45%; }
  #contents .download_section1 h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2em; }
  #contents .download_section2 {
    width: 300px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto; }
  #contents .download_section2 h3 {
    margin-bottom: 20px; }
  #contents .download_section3 h3 {
    margin-bottom: 20px; }
  #contents .download_section3 p {
    margin-bottom: 20px; }
  #contents .download_section3 {
    width: 300px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto; }
  #contents .download_section_links {
    width: 100%;
    min-width: 300px;
    text-align: left;
    margin: 30px; }
    #contents .download_section_links ul {
      list-style: none; }
  /* other_sectionsの設定　 */
  #contents .section4_bg {
    display: flex;
    background-color: #d1dddd;
    background-size: 100%;
    margin-top: 50px;
    padding: 20px; }
  #contents .section4_setting {
    width: 100%;
    max-height: 390px;
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 1200px;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px; }
  #contents .documentation_section {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px; }
  #contents .contribute_section {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px; }
  #contents .section5_bg {
    display: flex;
    background-color: #e9eeee;
    background-size: 100%;
    padding: 20px; }
  #contents .section5_setting {
    width: 100%;
    max-height: 500px;
    display: flex;
    text-align: center;
    display: -webkit-flex;
    max-width: 1200px;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px; }
  #contents .books_top {
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-left: auto; }
  #contents .section5_setting h2 {
    margin-top: 50px;
    margin-bottom: 50px; }
  #contents .section5_setting h3 {
    margin-top: 50px;
    margin-bottom: 50px; }
  #contents .section5_setting img {
    width: 100%;
    max-width: 250px;
    min-width: 200px;
    height: auto; }
  #contents .section5_setting .left_books {
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  #contents .section5_setting .right_books {
    width: 300px;
    height: auto;
    text-align: left;
    padding-top: 50px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto; }
  /* news_sectionsの設定　 */
  #contents .news_section_bg {
    background-color: #d1dddd;
    background-size: 100%;
    padding: 20px; }
  #contents .news_section {
    width: 100%;
    max-width: 1200px;
    min-width: 200px;
    height: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center; }
    #contents .news_section ul, #contents .news_section li {
      color: #3c3f3f;
      list-style: none;
      text-align: center; }
  /*リリースノート*/
  #contents .releasenote_setting {
    width: 100%;
    max-height: auto;
    display: block;
    text-align: center;
    max-width: 1200px;
    min-width: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px; }
  #contents .img_sectionset {
    width: 100%;
    max-height: auto;
    display: flex;
    text-align: center;
    display: -webkit-flex;
    max-width: 1200px;
    min-width: 250px;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px; }
  #contents .releasenote_section {
    text-align: center;
    margin: 50px; }
  #contents .allsecimg {
    margin-left: auto;
    margin-right: auto; }
    #contents .allsecimg img {
      width: 100%;
      height: auto;
      max-width: 800px;
      min-width: 250px; }
  #contents .releasenote_iframe {
    max-width: 600px;
    min-width: 250px;
    text-align: center;
    margin-right: auto;
    margin-left: auto; }
  /*紹介*/
  #contents .introduction_section1 {
    margin: 50px; }
  #contents .introduction_img1_1 {
    margin-bottom: 50px; }
    #contents .introduction_img1_1 img {
      width: 100%;
      min-width: 280px;
      height: auto;
      max-width: 50%; }
  #contents .introduction_img1_2 {
    margin-top: 50px; }
    #contents .introduction_img1_2 img {
      width: 100%;
      min-width: 280px;
      height: auto; }
    #contents .introduction_img1_2 h3 {
      text-align: center;
      margin-bottom: 50px;
      font-size: 1.5em; }
  #contents .introduction_sec2img {
    width: 50%;
    min-width: 200px;
    height: 150px;
    padding-top: 130px; }
    #contents .introduction_sec2img img {
      width: 50%;
      min-width: 150px;
      height: auto;
      max-width: 200px;
      border-radius: 50%; }
  #contents .introduction_section2 {
    margin: 50px;
    width: auto; }
    #contents .introduction_section2 img {
      width: 100%;
      min-width: 250px;
      height: auto; }
  #contents .introduction_section3 {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1; }
    #contents .introduction_section3 .introduction_img3_1 img {
      width: 100%;
      min-width: 280px;
      height: auto;
      z-index: 1; }
    #contents .introduction_section3 .introduction_img3_2 img {
      width: 30%;
      min-width: 150px;
      height: auto;
      max-width: 100px;
      z-index: 5;
      border-radius: 50%; }
    #contents .introduction_section3 p {
      width: 250px;
      margin-top: 90px;
      margin-right: 80px;
      margin-left: 80px;
      margin-bottom: 50px; }
  #contents .introduction_section4 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 10px; }
    #contents .introduction_section4 .introduction_sec4_title1 {
      padding-top: 15px; }
  /*ダウンロード*/
  #contents .download_contents_topset {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: left; }
    #contents .download_contents_topset h2 {
      margin: 50px; }
  #contents .download_contents_set {
    width: 100%;
    max-height: 2200px;
    display: flex;
    text-align: center;
    max-width: 1200px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e9eeee;
    flex-wrap: wrap; }
  #contents .download_contents {
    width: 100%;
    max-width: 560px;
    height: auto;
    text-align: center;
    display: block;
    background-color: #515252;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px; }
    #contents .download_contents img {
      width: 80%;
      height: auto; }
    #contents .download_contents h3 {
      color: #849494; }
    #contents .download_contents p {
      margin: 20px;
      color: #d1dddd; }
  /*ダウンロードの過去のバージョン*/
  #contents .download_prev {
    width: 100%;
    max-height: auto;
    display: 2600px;
    text-align: center;
    max-width: 1200px;
    min-width: 250px;
    margin-right: auto;
    margin-left: auto;
    background-color: #d1dddd;
    flex-wrap: wrap;
    padding-bottom: 20px; }
    #contents .download_prev h2 {
      padding: 20px; }
  /*採用実績*/
  /*採用実績設定*/
  #contents .adoption_allset1 {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  #contents .adoption_allset {
    width: 100%;
    max-width: 1200px;
    min-width: 900px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    margin-right: auto;
    margin-left: auto;
    text-align: center; }
  #contents .adoption_allset h2 {
    color: #3c3f3f; }
  #contents .adoption_allset p {
    color: #bbdada; }
  #contents .adoptition_title {
    width: 100%;
    max-width: 1200px;
    text-align: left;
    margin: 50px; }
  #contents .adopted {
    max-width: 500px;
    min-width: 250px;
    height: 650px;
    color: #68bdc5;
    background-color: #3d3d3d;
    margin: 20px 20px;
    padding-bottom: 20px;
    display: block; }
    #contents .adopted h3 {
      color: #68bdc5;
      font-size: 1.5em;
      text-align: left;
      margin: 20px; }
  #contents .adopted1 {
    width: 100%;
    max-width: 950px;
    height: auto;
    text-align: center;
    color: #68bdc5;
    background-color: #3d3d3d;
    margin: 20px auto;
    padding-bottom: 20px; }
    #contents .adopted1 h3 {
      color: #68bdc5;
      font-size: 1.5em;
      text-align: left;
      margin: 20px;
      padding-top: 20px; }
  #contents .iframe {
    position: relative;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 100%;
    height: 0;
    padding-top: 56.25%; }
  .iframe_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  /*ポプテピピック*/
  #contents .adopted .images_adopted {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 2em; }
  #contents .setting {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px; }
  #contents .setting1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: left;
    margin-top: 10px;
    margin-left: 20px; }
  #contents .setting p {
    margin: 15px; }
  #contents .list1_site {
    display: flex; }
    #contents .list1_site p {
      margin: 20px; }
  #contents .list1_steam {
    display: flex; }
    #contents .list1_steam p {
      margin: 15px; }
  #contents .list1_mv {
    display: flex;
    margin-top: 10px; }
    #contents .list1_mv p {
      margin: 5px; }
  #contents .adopted_other_setting {
    display: block;
    margin-left: 10px; }
  #contents .adopted_lists_other1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px; }
  /*ドキュメント*/
  #contents .help_sections_allsetting {
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-bottom: 50px; }
  #contents .help_sections_set {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px; }
  #contents .documentation_top_set {
    width: 100%;
    display: block;
    text-align: left;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    padding-top: 50px; }
    #contents .documentation_top_set h3 {
      margin-top: 50px; }
    #contents .documentation_top_set p {
      margin: 20px; }
  #contents .help_sections {
    background-color: #515252; }
    #contents .help_sections img:hover {
      opacity: 0.5; }
  #contents .help_links {
    margin: 20px; }
  #contents .help_sections_set h2 {
    color: #3c3f3f; }
  #contents .help_sections_set h3 {
    color: #68bdc5; }
  #contents .help_sections_set p {
    color: #bbdada;
    padding-top: 15px;
    margin: 20px; }
  #contents .help_sections_set .help_imgsec img {
    width: 100%;
    max-width: 280px;
    height: auto; }
  #contents .help_sections_set img {
    width: 100%;
    max-width: 180px;
    height: auto; }
  #contents .documentation_tutorial_bg {
    width: 100%;
    background-color: #d1dddd;
    padding-top: 50px;
    padding-bottom: 400px; }
  #contents .documentation_tutorial_set {
    width: 100%;
    display: block;
    text-align: left;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px; }
    #contents .documentation_tutorial_set h3 {
      margin-top: 10px;
      padding-top: 15px; }
    #contents .documentation_tutorial_set p {
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 30px; }
  #contents .section_setting_tutorial {
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    display: flex;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap; }
  #contents .tutorial_sections {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 5%;
    grid-column-gap: 5%;
    margin-right: auto;
    margin-left: auto; }
    #contents .tutorial_sections img:hover {
      opacity: 0.5; }
  #contents .locale_sections {
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #515252; }
    #contents .locale_sections img {
      width: 100%;
      max-width: 200px;
      min-width: 150px;
      text-align: center;
      height: auto;
      margin-top: 5px;
      margin-bottom: 5px; }
    #contents .locale_sections p {
      margin: 10px; }
  /*サポート*/
  #contents .support_grid {
    width: 100%;
    max-width: 1200px;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px; }
  #contents .support_bg {
    background-color: #d1dddd;
    background-size: 100%;
    padding: 30px; }
  #contents .supprot_github_section {
    padding-bottom: 50px; }
  /*サンプルエフェクト*/
  #contents .contribute_title_bg {
    width: 100%;
    background-color: #d1dddd;
    padding: 50px; }
  #contents .contribute_title_set {
    width: 80%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    text-align: left; }
    #contents .contribute_title_set p {
      margin: 20px; }
  /*投稿エフェクト中ページ*/
  #contents .contribute_inner_text {
    padding-bottom: 100px; }
    #contents .contribute_inner_text ul {
      list-style: none; }
  #contents .sample_effect {
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center; }
    #contents .sample_effect img {
      width: 250px;
      height: auto; }
  #contents .sample_effect2 {
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center; }
    #contents .sample_effect2 img {
      width: 250px;
      margin: auto; }
  #contents .sample_effect p {
    width: 270px;
    height: auto;
    background-color: #515252;
    margin: 20px;
    padding-top: 3px; }
  #contents .sample_effect2 p {
    width: 270px;
    height: auto;
    background-color: #68bdc5;
    margin: 20px;
    padding-top: 3px; }
  /*画像クリック時の次のページ*/
  #contents .sample_effect_next {
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center; }
    #contents .sample_effect_next img {
      width: 250px;
      margin: auto; }
  #contents .sample_effect_next p {
    width: 270px;
    height: auto;
    background-color: #515252;
    margin: 20px;
    padding-top: 3px; }
  #contents .mail_setting {
    width: 100%;
    max-height: auto;
    display: flex;
    text-align: center;
    max-width: 1200px;
    background-color: #e2e5e5;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px; } }
