@charset "UTF-8";
/*設定まとめ　*/
/*@mixin*/
/*バックカラー　文字色 幅 各種設定*/
/*文字の大きさ*/
/*間隔設定*/
/*アドレスの文字カラー*/
a:link {
  color: #3c3f3f; }

a:visited {
  color: #68bdc5; }

a:active {
  color: #848a8a; }

#contents .adoption_allset a:link {
  color: #ffffff; }

#contents .adoption_allset1 a:link {
  color: #ffffff; }
